uVision_mdk_28-12-2016_galvos/
STM32Cube_FW_F4_V1.11.0/
STM32F4xx_DSP_StdPeriph_Lib_V1.6.1/
stm32f429i-disc1_stdperiph_lib/
_olds_and_others/
Packages/
stm32fxxx_hal_libraries_mj/
.metadata/
**/Debug/*
*.zip
# ARM CMSIS Library components
**/StdPeriph_Driver/*
**/CMSIS/*
trash/*
# Tests for builds with sublime
01-STM32F4_MD_HELLO_MKFILE/
99-*
README.html
